<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfkd.qhhealth.video.mapper.VideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfkd.qhhealth.video.model.Video">
        <id column="id" property="id" />
        <result column="author_id" property="authorId" />
        <result column="title" property="title" />
        <result column="thumb" property="thumb" />
        <result column="resource" property="resource" />
        <result column="desc" property="desc" />
        <result column="type" property="type" />
        <result column="tag" property="tag" />
        <result column="cmt_cnt" property="cmtCnt" />
        <result column="watched_cnt" property="watchedCnt" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, author_id, title, thumb, resource, desc, type, tag, cmt_cnt, watched_cnt, create_time, update_time
    </sql>

    <sql id="columns">
    ${alias}.id,
    ${alias}.author_id AS authorId,
    ${alias}.title,
    ${alias}.thumb,
    ${alias}.resource,
    ${alias}.desc,
    ${alias}.type,
    ${alias}.tag,
    ${alias}.cmt_cnt AS cmtCnt,
    ${alias}.watched_cnt AS watchedCnt,
    ${alias}.create_time AS createTime,
    ${alias}.update_time AS updateTime,
    </sql>

    <select id="getVideoLs" resultType="Map">
        SELECT
            id,
            title,
            thumb,
            resource,
            watched_cnt watchedCnt,
            DATE_FORMAT(create_time, '%Y-%m-%d') createTime
        FROM
            video
        WHERE
            type = #{type}
            <if test="tag != null and tag != ''">
                AND tag = #{tag}
            </if>
            <if test="authorId != null">
                AND author_id = #{authorId}
            </if>
        ORDER BY create_time DESC
        LIMIT #{page}, #{size}
    </select>

    <select id="getVideoBrief" resultType="Map">
        SELECT
            title,
            thumb
        FROM
            video
        WHERE
            id = #{id}
    </select>

    <update id="watchedCntPlusOne">
        UPDATE video
        SET watched_cnt = watched_cnt + 1
        WHERE
        id = #{id}
    </update>

</mapper>
