<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfkd.qhhealth.article.mapper.ArticleCmtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfkd.qhhealth.article.model.ArticleCmt">
        <id column="id" property="id" />
        <result column="article_id" property="articleId" />
        <result column="author_id" property="authorId" />
        <result column="content" property="content" />
        <result column="reply_cnt" property="replyCnt" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, article_id, author_id, content, reply_cnt, create_time
    </sql>

    <sql id="columns">
    ${alias}.id,
    ${alias}.article_id AS articleId,
    ${alias}.author_id AS authorId,
    ${alias}.content,
    ${alias}.reply_cnt AS replyCnt,
    ${alias}.create_time AS createTime,
    </sql>

    <select id="getComments" resultType="Map">
        SELECT
            ac.id,
            u.name,
            u.avatar,
            ac.author_id authorId,
            ac.content,
            ac.reply_cnt replyCnt,
            ac.create_time createTime
        FROM
            article_cmt ac
            LEFT JOIN user u ON ac.author_id = u.id
        WHERE
            ac.article_id = #{articleId}
        ORDER BY ac.create_time DESC
        LIMIT #{page}, #{size}
    </select>

    <update id="replyCntPlusOne">
        UPDATE article_cmt
        SET reply_cnt = reply_cnt + 1
        WHERE
        id = #{id}
    </update>

</mapper>
