<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfkd.qhhealth.health.mapper.HealthGoalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfkd.qhhealth.health.model.HealthGoal">
        <id column="id" property="id" />
        <result column="goal_weight" property="goalWeight" />
        <result column="goal_type" property="goalType" />
        <result column="period" property="period" />
        <result column="start_time" property="startTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goal_weight, goal_type, period, start_time, create_time, update_time
    </sql>

    <sql id="columns">
    ${alias}.id,
    ${alias}.goal_weight AS goalWeight,
    ${alias}.goal_type AS goalType,
    ${alias}.period,
    ${alias}.start_time AS startTime,
    ${alias}.create_time AS createTime,
    ${alias}.update_time AS updateTime,
    </sql>

</mapper>
