<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexq.qh.healthlog.mapper.HealthLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hexq.qh.healthlog.model.HealthLog">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="user_id" property="userId" />
        <result column="height" property="height" />
        <result column="weight" property="weight" />
        <result column="wc" property="wc" />
        <result column="body_fat" property="bodyFat" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id AS customerId, user_id AS userId, height, weight, wc, body_fat AS bodyFat, create_time AS createTime
    </sql>

    <sql id="columns">
    ${alias}.id,
    ${alias}.customer_id AS customerId,
    ${alias}.user_id AS userId,
    ${alias}.height,
    ${alias}.weight,
    ${alias}.wc,
    ${alias}.body_fat AS bodyFat,
    ${alias}.create_time AS createTime,
    </sql>

    <insert id="addWeightLoss">
        INSERT INTO customer_health_info ( customer_id, user_id, weight_loss )
        VALUES
            ( #{customerId}, #{userId}, #{weightLoss} )
            ON DUPLICATE KEY UPDATE weight_loss = #{weightLoss};
    </insert>

    <insert id="addInitialWeight">
        INSERT INTO customer_health_info ( customer_id, user_id, initial_weight )
        VALUES
            ( #{customerId}, #{userId}, #{initialWeight} )
    </insert>

    <select id="getWeightLog" resultType="Map">
        SELECT
            weight,
            wc,
            body_fat bodyFat,
            create_time date
        FROM
            customer_health_log
        WHERE
            customer_id = #{id}
        AND create_time BETWEEN #{startTime} AND #{endTime}
        ORDER BY create_time DESC
    </select>

    <select id="getRecentWeight" resultType="Integer">
        SELECT
            weight
        FROM
            customer_health_log
        WHERE
            customer_id = #{id}
        ORDER BY
            create_time
        LIMIT 1
    </select>

    <select id="getInitialWeight" resultType="Integer">
        SELECT
            initial_weight
        FROM
            customer_health_info
        WHERE
            customer_id = #{id}
    </select>

    <select id="getWeightLoss" resultType="Integer">
        SELECT
            weight_loss
        FROM
            customer_health_info
        WHERE
            customer_id = #{id}
    </select>

</mapper>
