<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfkd.qhhealth.sys.mapper.SysDisplayImgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfkd.qhhealth.sys.model.SysDisplayImg">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="img_url" property="imgUrl" />
        <result column="to_url" property="toUrl" />
        <result column="type" property="type" />
        <result column="seq" property="seq" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, img_url, to_url, type, seq
    </sql>

    <sql id="columns">
    ${alias}.id,
    ${alias}.name,
    ${alias}.img_url AS imgUrl,
    ${alias}.to_url AS toUrl,
    ${alias}.type,
    ${alias}.seq,
    </sql>

</mapper>
