<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfkd.qhhealth.sys.mapper.SysEntranceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfkd.qhhealth.sys.model.SysEntrance">
        <id column="id" property="id" />
        <result column="content_id" property="contentId" />
        <result column="type" property="type" />
        <result column="seq" property="seq" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content_id, type, seq
    </sql>

    <sql id="columns">
    ${alias}.id,
    ${alias}.content_id AS contentId,
    ${alias}.type,
    ${alias}.seq,
    </sql>

    <select id="getEntrance" resultType="Map">
        SELECT
            name,
            value tag,
            img
        FROM sys_entrance
        WHERE page = #{page}
        ORDER BY seq
    </select>

</mapper>
