<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfkd.qhhealth.sys.mapper.SysFeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfkd.qhhealth.sys.model.SysFeedback">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="img" property="img" />
        <result column="mobile" property="mobile" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, img, mobile, type
    </sql>

    <sql id="columns">
    ${alias}.id,
    ${alias}.content,
    ${alias}.img,
    ${alias}.mobile,
    ${alias}.type,
    </sql>

</mapper>
