<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfkd.qhhealth.social.mapper.SocialFeedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfkd.qhhealth.social.model.SocialFeed">
        <id column="id" property="id" />
        <result column="author_id" property="authorId" />
        <result column="author_type" property="authorType" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="img" property="img" />
        <result column="img_thumb" property="imgThumb" />
        <result column="cmt_cnt" property="cmtCnt" />
        <result column="like_cnt" property="likeCnt" />
        <result column="is_private" property="isPrivate" />
        <result column="order" property="order" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, author_id, author_type, title, content, img, img_thumb, cmt_cnt, like_cnt, is_private, order, create_time, update_time
    </sql>

    <sql id="columns">
    ${alias}.id,
    ${alias}.author_id AS authorId,
    ${alias}.author_type AS authorType,
    ${alias}.title,
    ${alias}.content,
    ${alias}.img,
    ${alias}.img_thumb AS imgThumb,
    ${alias}.cmt_cnt AS cmtCnt,
    ${alias}.like_cnt AS likeCnt,
    ${alias}.is_private AS isPrivate,
    ${alias}.order,
    ${alias}.create_time AS createTime,
    ${alias}.update_time AS updateTime,
    </sql>

</mapper>
