<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfkd.qhhealth.social.mapper.SocialFeedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfkd.qhhealth.social.model.SocialFeed">
        <id column="id" property="id" />
        <result column="author_id" property="authorId" />
        <result column="author_type" property="authorType" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="img" property="img" />
        <result column="img_thumb" property="imgThumb" />
        <result column="cmt_cnt" property="cmtCnt" />
        <result column="like_cnt" property="likeCnt" />
        <result column="is_private" property="isPrivate" />
        <result column="seq" property="seq" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, author_id, author_type, title, content, img, img_thumb, cmt_cnt, like_cnt, is_private, seq, create_time, update_time
    </sql>

    <sql id="columns">
    ${alias}.id,
    ${alias}.author_id AS authorId,
    ${alias}.author_type AS authorType,
    ${alias}.title,
    ${alias}.content,
    ${alias}.img,
    ${alias}.img_thumb AS imgThumb,
    ${alias}.cmt_cnt AS cmtCnt,
    ${alias}.like_cnt AS likeCnt,
    ${alias}.is_private AS isPrivate,
    ${alias}.seq,
    ${alias}.create_time AS createTime,
    ${alias}.update_time AS updateTime,
    </sql>

    <select id="getRecentYysFeeds" resultType="Map">
        SELECT
            sf.id,
            sf.author_id authorId,
            sf.img,
            sf.content,
            n.name,
            n.avatar
        FROM (SELECT MAX(f.id) id
              FROM social_feed f
              WHERE f.author_type = '1'
              GROUP BY f.author_id
              LIMIT #{limit}) a
            LEFT JOIN social_feed sf ON a.id = sf.id
            LEFT JOIN nutritionist n ON sf.author_id = n.id
        ORDER BY sf.create_time DESC
    </select>

    <select id="getPlazaFeeds" resultType="Map">
        SELECT
            sf.id,
            sf.img,
            sf.content,
            sf.author_id authorId,
            sf.author_type authorType,
            IFNULL(u.name, n.name) name,
            IFNULL(u.avatar, n.avatar) avatar
        FROM
            social_feed sf
            LEFT JOIN user u ON sf.author_id = u.id AND sf.author_type = '0'
            LEFT JOIN nutritionist n ON sf.author_id = n.id AND sf.author_type = '1'
        WHERE
            sf.is_private = '0'
        ORDER BY sf.topping_time DESC, sf.create_time DESC
        LIMIT #{page}, #{size}
    </select>

    <select id="getFeed" resultType="com.hfkd.qhhealth.social.model.SocialFeedVo">
        SELECT
            sf.id,
            sf.img,
            sf.content,
            sf.author_id authorId,
            sf.author_type authorType,
            sf.cmt_cnt cmtCnt,
            sf.like_cnt likeCnt,
            sf.create_time createTime,
            IFNULL(u.name, n.name) name,
            IFNULL(u.avatar, n.avatar) avatar
        FROM
            social_feed sf
            LEFT JOIN user u ON sf.author_id = u.id AND sf.author_type = '0'
            LEFT JOIN nutritionist n ON sf.author_id = n.id AND sf.author_type = '1'
        WHERE sf.id = #{id}
    </select>

    <select id="getUserFeeds" resultType="com.hfkd.qhhealth.social.model.SocialFeedVo">
        SELECT
            sf.id,
            sf.content,
            sf.img,
            u.name,
            u.avatar,
            sf.author_id authorId,
            sf.author_type authorType,
            sf.cmt_cnt cmtCnt,
            sf.like_cnt likeCnt,
            sf.create_time createTime,
            IF(sul.id is NULL, FALSE, TRUE) isLike
        FROM
            social_feed sf
            LEFT JOIN user u ON sf.author_id = u.id
            LEFT JOIN social_user_like sul ON sul.user_id = #{userId} AND sul.feed_id = sf.id
        WHERE
            sf.author_id = #{authorId}
        AND sf.author_type = '0'
        ORDER BY sf.create_time DESC
        LIMIT #{page}, #{size}
    </select>

    <select id="getYysFeeds" resultType="com.hfkd.qhhealth.social.model.SocialFeedVo">
        SELECT
            sf.id,
            sf.content,
            sf.img,
            n.name,
            n.avatar,
            sf.author_id authorId,
            sf.author_type authorType,
            sf.cmt_cnt cmtCnt,
            sf.like_cnt likeCnt,
            sf.create_time createTime,
            IF(sul.id is NULL, FALSE, TRUE) isLike
        FROM
            social_feed sf
            LEFT JOIN nutritionist n ON sf.author_id = n.id
            LEFT JOIN social_user_like sul ON sul.user_id = #{userId} AND sul.feed_id = sf.id
        WHERE
            sf.author_id = #{authorId}
        AND sf.author_type = '1'
        ORDER BY sf.create_time DESC
        LIMIT #{page}, #{size}
    </select>

    <select id="getLikeFeeds" resultType="com.hfkd.qhhealth.social.model.SocialFeedVo">
        SELECT
            sf.id,
            sf.content,
            sf.img,
            sf.author_id authorId,
            sf.author_type authorType,
            sf.cmt_cnt cmtCnt,
            sf.like_cnt likeCnt,
            sf.create_time createTime,
            TRUE isLike,
            IFNULL(u.name, n.name) name,
            IFNULL(u.avatar, n.avatar) avatar
        FROM
            social_user_like sul
            LEFT JOIN social_feed sf ON sf.id = sul.feed_id
            LEFT JOIN user u ON u.id = sf.author_id AND sf.author_type = '0'
            LEFT JOIN nutritionist n ON n.id = sf.author_id AND sf.author_type = '1'
        WHERE
            sul.user_id = #{userId}
        ORDER BY sul.create_time DESC
        LIMIT #{page}, #{size}
    </select>

    <update id="likePlusOne">
        UPDATE social_feed
        SET like_cnt = like_cnt + 1
        WHERE id = #{id}
    </update>

    <update id="likeMinusOne">
        UPDATE social_feed
        SET like_cnt = like_cnt - 1
        WHERE id = #{id}
    </update>

</mapper>
