<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfkd.qhhealth.social.mapper.SocialUserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfkd.qhhealth.social.model.SocialUserInfo">
        <id column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="bio" property="bio" />
        <result column="avatar" property="avatar" />
        <result column="avatar_thumb" property="avatarThumb" />
        <result column="feed_cnt" property="feedCnt" />
        <result column="following" property="following" />
        <result column="followers" property="followers" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, name, bio, avatar, avatar_thumb, feed_cnt, following, followers
    </sql>

    <sql id="columns">
    ${alias}.user_id AS userId,
    ${alias}.name,
    ${alias}.bio,
    ${alias}.avatar,
    ${alias}.avatar_thumb AS avatarThumb,
    ${alias}.feed_cnt AS feedCnt,
    ${alias}.following,
    ${alias}.followers,
    </sql>

    <update id="feedPlusOne">
        UPDATE social_user_info
        SET feed_cnt = feed_cnt + 1
        WHERE
            user_id = #{userId}
    </update>

    <update id="feedMinusOne">
        UPDATE social_user_info
        SET feed_cnt = feed_cnt - 1
        WHERE
            user_id = #{userId}
    </update>

    <select id="getSocialInfo" resultType="Map">
        SELECT
            u.user_id id,
            u.name,
            u.avatar,
            u.feed_cnt feedCnt,
            u.followers,
            u.following,
            hg.goal_weight goalWeight,
            hg.start_time startTime,
            hg.period
        FROM
            social_user_info u
            LEFT JOIN health_goal hg ON u.user_id = hg.user_id
        WHERE u.user_id = #{id}
    </select>
</mapper>
