<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfkd.qhhealth.social.mapper.SocialUserFollowingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfkd.qhhealth.social.model.SocialUserFollowing">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="following_id" property="followingId" />
        <result column="following_type" property="followingType" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, following_id, following_type, create_time
    </sql>

    <sql id="columns">
    ${alias}.id,
    ${alias}.user_id AS userId,
    ${alias}.following_id AS followingId,
    ${alias}.following_type AS followingType,
    ${alias}.create_time AS createTime,
    </sql>

    <select id="getFollowLsId" resultType="Integer">
        SELECT
            id
        FROM
            social_user_following
        WHERE
            user_id = #{userId}
        AND following_id = #{followingId}
        AND following_type = #{followingType}
    </select>

    <select id="getFollowingLs" resultType="com.hfkd.qhhealth.social.model.FollowVo">
        SELECT
            f.following_id followingId,
            IFNULL(u.name, n.name) followingName,
            IFNULL(u.avatar, n.avatar) avatar,
            f.following_type followingType,
            <choose>
                <when test="currId != userId">
                    IF(f2.id is NULL, FALSE, TRUE) isFollow
                </when>
                <otherwise>
                    TRUE isFollow
                </otherwise>
            </choose>
        FROM
            social_user_following f
            LEFT JOIN user u ON f.following_id = u.id AND f.following_type = '0'
            LEFT JOIN nutritionist n ON f.following_id = n.id AND f.following_type = '1'
            <if test="currId != userId">
                LEFT JOIN social_user_following f2 ON f2.user_id = ${currId} AND f2.following_id = f.following_id AND f2.following_type = f.following_type
            </if>
        WHERE
            f.user_id = #{userId}
        ORDER BY f.create_time DESC
        LIMIT #{pageVo.page}, #{pageVo.size}
    </select>

    <select id="getFollowers" resultType="com.hfkd.qhhealth.social.model.FollowVo">
        SELECT
            f.user_id followingId,
            u.name followingName,
            u.avatar avatar,
            '0' followingType,
            IF(f2.id is NULL, FALSE, TRUE) isFollow
        FROM
            social_user_following f
            LEFT JOIN user u ON f.user_id = u.id
            LEFT JOIN social_user_following f2 ON f2.user_id = ${currId} AND f2.following_id = f.user_id AND f2.following_type = '0'
        WHERE
            f.following_id = #{id}
        AND f.following_type = #{type}
        ORDER BY f.create_time DESC
        LIMIT #{pageVo.page}, #{pageVo.size}
    </select>

    <update id="followerPlusOne">
        UPDATE
        <if test='type == "0"'>
            social_user_info
        </if>
        <if test='type == "1"'>
            social_nutritionist_info
        </if>
        SET followers = followers + 1
        WHERE
        <if test='type == "0"'>
            user_id = #{id}
        </if>
        <if test='type == "1"'>
            nutritionist_id = #{id}
        </if>
    </update>

    <update id="followerMinusOne">
        UPDATE
        <if test='type == "0"'>
            social_user_info
        </if>
        <if test='type == "1"'>
            social_nutritionist_info
        </if>
        SET followers = followers - 1
        WHERE
        <if test='type == "0"'>
            user_id = #{id}
        </if>
        <if test='type == "1"'>
            nutritionist_id = #{id}
        </if>
    </update>

    <update id="followingPlusOne">
        UPDATE social_user_info
        SET following = following + 1
        WHERE user_id = #{id}
    </update>

    <update id="followingMinusOne">
        UPDATE social_user_info
        SET following = following - 1
        WHERE user_id = #{id}
    </update>
</mapper>
