<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfkd.qhhealth.user.mapper.UserVideoCollectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfkd.qhhealth.user.model.UserVideoCollection">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="video_id" property="videoId" />
        <result column="title" property="title" />
        <result column="thumb" property="thumb" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, video_id, title, thumb, create_time
    </sql>

    <sql id="columns">
    ${alias}.id,
    ${alias}.user_id AS userId,
    ${alias}.video_id AS videoId,
    ${alias}.title,
    ${alias}.thumb,
    ${alias}.create_time AS createTime,
    </sql>

    <select id="getCollection" resultType="Map">
        SELECT
            video_id id,
            title,
            thumb,
            create_time createTime
        FROM
            user_video_collection
        WHERE
            user_id = #{userId}
        ORDER BY create_time DESC
        LIMIT #{page}, #{size}
    </select>

</mapper>
