<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfkd.qhhealth.nutritionist.mapper.NutritionistLetterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hfkd.qhhealth.nutritionist.model.NutritionistLetter">
        <id column="nutritionist_id" property="nutritionistId" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        nutritionist_id, content
    </sql>

    <sql id="columns">
    ${alias}.nutritionist_id AS nutritionistId,
    ${alias}.content,
    </sql>

</mapper>
